<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            OS Type Name
          </th>
          <th>
            Command
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
          <th>
            Details
          </th>
        </tr>
        <tr>
        <td>
           <input placeholder="osTypeName" [(ngModel)]="dto.osTypeName">
        </td>
        <td>
           <input placeholder="command" [(ngModel)]="dto.command">
        </td>
        <td>
          <button (click)="insert(dto)"><i class="fas fa-plus"></i>Insert</button>
        </td>
        <td>
          <button (click)="clear()"><i class="fas fa-times"></i>Clear</button>
        </td>
        <td>
          <button (click)="close()">Close Details</button>
        </td>
      </tr>
      <tr *ngFor="let dto of dtolist">
        <td>
          <input [(ngModel)]="dto.osTypeName">
        </td>
        <td>
          <input [(ngModel)]="dto.command">
        </td>
        <td>
          <button (click)=update(dto)><i class="fas fa-edit"></i>Edit</button>
        </td>
        <td>
          <button (click)="delete(dto.id)"><i class="fas fa-trash"></i>Delete</button>
        </td>
        <td>
          <button (click)="select(dto)"><i class="fas fa-binoculars"></i>Details</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-1">
    <!-- colonna vuota per centrare i dettagli-->
  </div>
  <div class="col-md-10">
    <!-- Se "selected" non è nullo, viene passato il suo valore sotto la chiave dto alla compoment
      figlia. Questo è un esempio di binding unidirezionale tra ts e ts-->
    <app-user-details *ngIf="selected" [dto]="selected"></app-user-details>
  </div>
  <div class="col-md-1">
    <!-- colonna vuota per centrare i dettagli-->
  </div>
</div>
</div>

<h2>OS Types</h2>

<div class=osbox class="col-md-4">
    <div class="divbox" *ngFor="let os of dtolist">
      <h4>
        <a [title]="os.osTypeName + ' command'">
          {{ os.osTypeName }}
        </a>
      </h4>

      <p class="divbox" *ngIf="os.command">
        Description: {{ os.command }}
      </p>

      <button (click)="share()">
        Share
      </button>
    </div>
</div>

