<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            OS Type Name
          </th>
          <th>
            Command
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
        </tr>
        <tr>
        <td>
           <input placeholder="osTypeName" [(ngModel)]="dto.osTypeName">
        </td>
        <td>
           <input placeholder="command" [(ngModel)]="dto.command">
        </td>
        <td>
          <button (click)="insert(dto)"><i class="fas fa-plus"></i>Insert</button>
        </td>
        <td>
          <button (click)="clear()"><i class="fas fa-times"></i>Clear</button>
        </td>
      </tr>
      <tr *ngFor="let dto of dtolist">
        <td>
          <input [(ngModel)]="dto.osTypeName">
        </td>
        <td>
          <input [(ngModel)]="dto.command">
        </td>
        <td>
          <button (click)=update(dto)><i class="fas fa-edit"></i>Edit</button>
        </td>
        <td>
          <button (click)="delete(dto.id)"><i class="fas fa-trash"></i>Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class = "mt-5"><h2> OS Types</h2></div>

<div class=osbox class="col-md-12">
    <div class="divbox" *ngFor="let os of dtolist">
      <h4>
        <a [title]="os.osTypeName + ' command'">
          {{ os.osTypeName }}
        </a>
      </h4>

      <p class="divbox" *ngIf="os.command">
        Description: {{ os.command }}
      </p>

      <button (click)="share()">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
</div>

