<!--
<div class="inner-packet-container" (click)="onSelect()" [style.background-color]="selectedPacket ? '#FFCC00' : 'white'">
    <i class="fas fa-info packet-logo" [style.color]="selectedPacket ? 'orange' : '#FFCC00'"></i>
  <div class="packet-pars" [style.color]="selectedPacket ? 'orange' : '#FFCC00'">
    <p>
      {{ name }}
    </p>
  </div>
</div>

-->

<div class="inner-packet-container">
  <i class="fas fa-info packet-logo"></i>
  <div class="packet-pars">
    <p>
      {{ name }}
    </p>
  </div>
</div>