<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Edit
          </th>
          <th>
            Delete
          </th>
          <th>
            Details
          </th>
        </tr>
        <tr>
          <td>
            <!-- con il binding bidirezionale [(ngModel)] mentre scriviamo nell'input
            viene modificato l'attributo di dto in tempo reale-->
            <input placeholder="name" [(ngModel)]="dto.name">
          </td>
          <td>
            <input placeholder="description" [(ngModel)]="dto.description">
          </td>
          <td>
          </td>
          <td>
            <button (click)="insert(dto)"><i class="fas fa-plus"></i>Insert</button>
          </td>
          <td>
            <button (click)="clear()"><i class="fas fa-times"></i>Clear</button>
          </td>
          <td>
            <button (click)="close()">Close Details</button>
          </td>
        </tr>
        <tr *ngFor="let dto of dtolist">
          <td>
            <input [(ngModel)]="dto.name">
          </td>
          <td>
            <input [(ngModel)]="dto.description">
          </td>
          <td>
          </td>
          <td>
            <button (click)=update(dto)><i class="fas fa-edit"></i>Edit</button>
          </td>
          <td>
            <button (click)="delete(dto.id)"><i class="fas fa-trash"></i>Delete</button>
          </td>
          <td>
            <button (click)="select(dto)"><i class="fas fa-binoculars"></i>Details</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>
    <div class="col-md-10">
      <!-- Se "selected" non è nullo, viene passato il suo valore sotto la chiave dto alla compoment
        figlia. Questo è un esempio di binding unidirezionale tra ts e ts-->
      <app-user-details *ngIf="selected" [dto]="selected"></app-user-details>
    </div>
    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>
  </div>
</div>