<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th> Packet
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr>
          <td>
            <!-- con il binding bidirezionale [(ngModel)] mentre scriviamo nell'input
            viene modificato l'attributo di dto in tempo reale-->
            <input [(ngModel)]="dto.name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </td>
          <td>
            <input [(ngModel)]="dto.description" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </td>
          <td>
            <select [(ngModel)]="dto.environmentpacket">
              <option *ngFor="let packet of packets" [ngValue]="packet">{{packet.name}}</option>
            </select>
          </td>
          <td>
            <button (click)="insert(dto)" class="btn btn-primary-outline"><i class="fas fa-plus" ></i></button>
          </td>
          <td>
            <button (click)="clear()" class="btn btn-primary-outline"><i class="fas fa-times" ></i></button>
          </td>
          <td>
            <button (click)="close()" class="btn btn-primary-outline" > Close Details</button>
          </td>
        </tr> <br>
        <tr *ngFor="let dto of dtolist">
          <td>
            <input [(ngModel)]="dto.name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </td>
          <td>
            <input [(ngModel)]="dto.description" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </td>
          <td>
            <input [(ngModel)]="dto.environmentpacket.name" readonly class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </td>
          <td>
            <button (click)=update(dto) class="btn btn-primary-outline" ><i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button (click)="delete(dto.id)" class="btn btn-primary-outline"><i class="fas fa-trash" ></i> </button>
          </td>
          <td>
            <button (click)="select(dto)" class="btn btn-primary-outline"><i class="fas fa-search" ></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>
    <div class="col-md-10">
      <!-- Se "selected" non è nullo, viene passato il suo valore sotto la chiave dto alla compoment
        figlia. Questo è un esempio di binding unidirezionale tra ts e ts-->
      <app-environment-details *ngIf="selected" [dto]="selected"></app-environment-details>
    </div>
    <div class="col-md-1">
      <!-- colonna vuota per centrare i dettagli-->
    </div>
  </div>
</div>