.my-search{
  background-color: #fff9e3;
  color: #FFCC00;
  border-radius: 50px;
  border-color: #FFCC00;
}
::placeholder{
  color: #FFCC00;
}

.input-icons i {
  position: absolute;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
