.form-control::-moz-placeholder {
    color: white;
  }
  .form-control:-ms-input-placeholder {
    color: white;
  }
  .form-control::-webkit-input-placeholder {
    color: white;
  }

.up {
    width: 0px;
    height: 0px;
    border-style: inset;
    border-width: 0 12vh 14vh 12vh;
    border-color: transparent transparent #ffffff transparent;
    transform: rotate(180deg);

    transition: border-color 1s;
}
  
.up p {
    width: 10vh;
    height: 11vh;
    padding-right: 3vh;

    transform: rotate(180deg);

    transition: color 1s;
}

.up:hover {
    border-color: transparent transparent #000000 transparent;
}

.up:hover p {
    color: #ffcc00;
}

svg:hover {
    color: white;
}

.selected {
    color: white;
}

.outer-login-container{
    min-height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,207,15,1) 30%, rgba(255,204,0,1) 100%);
    overflow: hidden;
}

svg:hover{
    cursor: pointer;
}

.roundedCorner {
    border-radius: 25px;
}

.selected svg {
    color: white;
}


@media screen and (min-width: 890px) {
    .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7vw 7vw 0 7vw;
        border-color: #ffffff transparent transparent transparent;
    }
}

@media screen and (max-width: 890px) {
    .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30vw 30vw 0 30vw;
        border-color: #ffffff transparent transparent transparent;
    }
}