<div class="outer-login-container">
  <div class="row">
    <div class="col-md-2 mx-auto text-center p-4">
      <img src="../../assets/ipmlogo.svg" alt="ipm logo" class="img-fluid">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto text-center">
      <a [class.selected]="userChoice === 'registerUser'" (click)="showForm('registerUser')"><i class="fas fa-user-friends fa-5x p-4"></i></a>
      <a [class.selected]="userChoice === 'loginUser'" (click)="showForm('loginUser')"><i class="fas fa-user-circle fa-5x p-4"></i></a>
      <i class="fab fa-facebook fa-5x p-4"></i>
      <i class="fab fa-google-plus fa-5x p-4"></i>
      <i class="fab fa-instagram fa-5x p-4"></i>
    </div>
  </div>

  <div class="row" [ngSwitch]="userChoice">

    <div class="col-md-3 mx-auto text-center" *ngSwitchCase="'loginUser'" [class.lol]="userChoice === 'loginUser'">
      <form #f="ngForm">

        <div class="form-group">
          <input style="background: transparent;" class="form-control text-center roundedCorner" type="text" id="user" name="username" placeholder="Username" ngModel>
        </div>

        <div class="form-group">
          <input style="background: transparent;" class="form-control text-center roundedCorner" type="password" id="pass" name="password" placeholder="Password" ngModel (keydown.enter)="login(f)">
        </div>

        <div class="mx-auto up" type="submit" (click)="login(f)">
          <p class="col-md-5 text-center">Login</p>
        </div>
      </form>
    </div>

    <div class="col-md-3 mx-auto text-center" *ngSwitchCase="'registerUser'">
      <form #f="ngForm">

        <div class="form-group">
          <input class="form-control text-center roundedCorner" type="text" id="user" name="username" placeholder="Username" [(ngModel)]="userDTO.username">
        </div>

        <div class="form-group">
          <input class="form-control text-center roundedCorner" type="password" id="pass" name="password" placeholder="Password" [(ngModel)]="userDTO.password">
        </div>

        <div class="mx-auto up" type="submit" (click)="register(userDTO)">
          <p class="col-md-5">Register</p>
        </div>
      </form>
    </div>

    <div class="col-md-3 mx-auto text-center" *ngSwitchDefault>
      <p>Something went wrong!</p>
    </div>

  </div>

</div>