<!-- Questo template, essendo un monoblocco, non ha bisogno del grid layout. Le classi di stile sono
custom e sono definite nel CSS-->
<div class="row">
  <div class="col-xs-1">
    <div class="menu">
      <p><img class=center src="../../../assets/ipmlogo_yellow.png" > </p>
    </div>
  </div>
</div>
    <button class="menubtn" [routerLink]="['/admin-dashboard']">
      <i class="fas fa-folder"></i> Dashboard
    </button>
    <button class="menubtn" [routerLink]="['/admin-dashboard/environments']">
        <i class="fas fa-folder"></i> Environments
    </button>
    <button class="menubtn" [routerLink]="['/admin-dashboard/all-packet']">
        <i class="fas fa-folder"></i> Packets
    </button>
    <button class="menubtn" [routerLink]="['/admin-dashboard/ostype']">
        <i class="fas fa-folder"></i> Ostype
    </button>
    <button class="menubtn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>Logout
    </button>
