<div class="col-md-12 mx-auto p-4">
  <img class="img-fluid" src="../../../assets/ipmlogo_yellow.png" >
</div>
<div class="col-md-12">
  <button class="btn "[routerLink]="['/admin-dashboard']">
    Dashboard
  </button>
</div>
<div class="col-md-12">
  <button class="btn" [routerLink]="['/admin-dashboard/environments']">
     Environments
  </button>
</div>
<div class="col-md-12">
  <button class="btn" [routerLink]="['/admin-dashboard/all-packet']">
    Packets
  </button>
</div>
<div class="col-md-12">
  <button class="btn" [routerLink]="['/admin-dashboard/ostype']">
    Ostype
  </button>
</div>
<div class="col-md-12">
  <button class="btn" (click)="logout()">
    Logout
  </button>
</div>
