<h3>
  <!-- | uppercase è un pipe, trasforma la stringa mettendo tutte le lettere maiuscole-->
  {{dto.name | uppercase }}'S DETAILS 
</h3>

<div class="container" >
  <div class="row mt-5">
    <div class="col-md-12">
<table>
    <tr>
      <th>
        ID
      </th>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>
        Packet
      </th>
    </tr>
    <tr>
      <td>
        <span>
          {{dto.id}}
        </span>
      </td>
      <td>
        <input [(ngModel)]="dto.name" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </td>
      <td>
        <input [(ngModel)]="dto.description" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </td>
      <td>
        <select [(ngModel)]="dto.environmentpacket">
          <option *ngFor="let packet of packets" [ngValue]="packet">{{packet.name}}</option>
        </select>
      <td>
        <button (click)="delete(dto.id)" class="btn btn-primary-outline"><i class="fas fa-trash" ></i></button>
      </td>
    </tr></table></div></div></div>